<div class="table-responsive">
          <div class="box-header with-border">
            <h3 class="box-title">Create category</h3>
          </div>
          <div class="box-body">
            <form role="form" ng-submit="addDelegate()" ng-controller="CollectionListController">
              <div class="form-group">
                <label>Category name</label>
                <input type="text" ng-model="newCategoryName" class="form-control" placeholder="Enter name here">
              </div>

              <div class="box-footer">
                <button type="submit" ng-disabled="item !== 'Create'" class="btn btn-info pull-right" style="margin-left: 5px;">{{ item }}</button>
              </div>

            </form>
          </div>
</div>
