<div class="table-responsive">
          <div class="box-header with-border">
            <h3 class="box-title">Create new poll</h3>
          </div>
          <div class="box-body">
            <form role="form" ng-submit="addPoll()" ng-controller="CollectionListController">
              <div class="form-group">
                <label>Poll title</label>
                <input type="text" ng-model="pollTitle" class="form-control" placeholder="Poll title" required>
              </div>

              <div class="form-group">
                <label>Poll category id</label>
                <input type="text" ng-model="pollCategory" class="form-control" placeholder="Poll title" required>
              </div>

              <div class="form-group">
                <label>Question</label>
                <input type="text" ng-model="pollQuestion" class="form-control" placeholder="Do you like liquid democracy?" required>
              </div>

              <div class="form-group">
                <label>Close time for delegates</label>
                <input type="date" ng-model="pollCloseDelegateTime" class="form-control" required>
              </div>

              <div class="form-group">
                <label>Poll close time</label>
                <input type="date" ng-model="pollCloseTime" class="form-control" required>
              </div>

              <div class="form-group">
                <label>Options:</label>
                <fieldset data-ng-repeat="choice in choices" style="padding: 5px;">

                  <input type="text" ng-model="pollChoices[$index]" name="" placeholder="Enter option" required>
                  <button class="btn btn-primary" ng-show="$last" ng-click="removeChoice()" style="background-color: red; border-color: black">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                  </button>
                </fieldset>

                <button class="btn btn-primary" ng-click="addNewChoice()">Add fields</button>

              </div>


              <div class="box-footer">
                <button type="submit" ng-disabled="item !== 'Create'" class="btn btn-info pull-right" style="margin-left: 5px;">{{ item }}</button>
              </div>

            </form>
          </div>
</div>
