<div class="table-responsive">
    <table class="table mb30">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>Title:</b></td>
            <td ng-style="val.length > 1000 && {'white-space': 'pre'}" style="">
                {{ item.title }}
            </td>
        </tr>

        <tr>
            <td><b>Id:</b></td>
            <td ng-style="val.length > 1000 && {'white-space': 'pre'}" style="">
                {{ item.idPoll }}
            </td>
        </tr>

        <tr>
            <td><b>Category:</b></td>
            <td ng-style="val.length > 1000 && {'white-space': 'pre'}" style="">
                {{ item.idCategory }}
            </td>
        </tr>

        <tr>
            <td><b>Close time for delegates:</b></td>
            <td ng-style="val.length > 1000 && {'white-space': 'pre'}" style="">
                {{ (item.closeDelegateTime*1000) | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
            </td>
        </tr>

        <tr>
            <td><b>Poll close time:</b></td>
            <td ng-style="val.length > 1000 && {'white-space': 'pre'}" style="">
                {{ (item.closeTime*1000) | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
            </td>
        </tr>

        </tbody>
    </table>

    <table class="table mb30">
        <caption style="text-align: center;"><h1>{{ item.question }}</h1></caption>
        <thead>
            <th>
                <h3>Option</h3>
            </th>

            <th>
                <h3>Votes</h3>
            </th>

        </thead>

        <tbody>
        <tr ng-repeat="option in item.options">
            <th>
                {{ option.answer }}
            </th>

            <th>
                {{ option.result }}
            </th>

        </tr>
        </tbody>

    </table>

</div>
