<section class="content-header">
    <h1>
        Voters
    </h1>
    <ol class="breadcrumb">
        <div class="input-group-btn" style="padding-right: 5px; float: left;">
          <button type="submit" class="btn btn-primary" style="border-radius: 6px; padding: 11px 11px;" ng-click="showFormVoter()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="subtitle mb5">Voter list</h5>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Id</th>
                                <th>Balance</th>
                                <th>Account</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="idVoter in orgInfo.voters" ng-if="!idVoter.balance == 0">
                                <td>
                                    {{ idVoter.name }}
                                </td>
                                <td>
                                   {{ idVoter.idVoter }}
                                </td>
                                <td>
                                   {{ idVoter.balance }}
                                </td>
                                <td>
                                   {{ idVoter.owner }}
                                </td>
                                <td>
                                    <a ng-click="removeVoter(idVoter.idVoter)" style="cursor: pointer;">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</section>


